.loader_wrap {
  justify-content: center;
}

.loader {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #aaa;
  box-shadow: 32px 0 #aaa, -32px 0 #aaa;
  position: relative;
  animation: flash 0.5s ease-out infinite alternate;
}

@keyframes flash {
  0% {
    background-color: #FFF2;
    box-shadow: 32px 0 #FFF2, -32px 0 #aaa;
  }
  50% {
    background-color: #aaa;
    box-shadow: 32px 0 #FFF2, -32px 0 #FFF2;
  }
  100% {
    background-color: #FFF2;
    box-shadow: 32px 0 #aaa, -32px 0 #FFF2;
  }
}